@use "../../assets/styles/var";
.container {
  background: rgb(226, 151, 155);
  background: linear-gradient(
    180deg,
    rgba(226, 151, 155, 1) 0%,
    rgba(208, 187, 188, 1) 17%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 7rem 14rem;
}
.main__wrapper {
  display: flex;
  gap: 12rem;
}

.main__info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 70%;
}
.main__info-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

.main__info-text {
  font-size: 20px;
  line-height: 26px;
}
.main__image-adaptive {
  display: none;
}
.main__image {
  display: flex;
  align-items: center;
}
.main__image-item {
  width: 100%;
  height: auto;
  max-width: 650px;
  border-radius: 22rem;
}

.main__info-button {
  width: 18.375rem;
  height: 4.125rem;
  background-color: var.$main-color;
  color: white;
  border-color: transparent;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  &:hover,
  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.aboutme__container,
.education__container {
  padding: 0 14rem;
}
.portfolio__container {
  padding: 0 10rem;
}

.aboutme__title,
.education__title,
.portfolio__title {
  padding-top: 5rem;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

.aboutme__title-line {
  margin: 0;
  width: 5%;
  border: 2px solid var.$main-color;
  text-align: right;
}

.aboutme__list {
  list-style-type: none;
  padding: 0 1rem;
}

.aboutme__list-item::marker {
  content: url("../../assets/images/circle-half-stroke-solid.svg");
  margin-left: 17px;
  padding-left: 1rem;
}

.aboutme__list-item {
  padding-left: 17px;
  padding-bottom: 0.5rem;
}
.aboutme__list-item,
.aboutme__paragraph-item,
.portfolio__item-link,
.education__list-item_year,
.education__list-item_name {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.aboutme__paragraph-item,
.portfolio__item-link {
  font-weight: 600;
}

.education__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

.education__list-title,
.portfolio__item-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.education__list-wrapper {
  column-count: 1;
}
.education__list-item {
  display: grid;
  grid-template-columns: 25% 70%;
  align-items: center;
  justify-items: flex-start;
}

.education__list-item_name {
  color: var.$main-color;
}

.icon {
  padding-right: 1rem;
}

.portfolio__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.portfolio__wrapper-mobile {
  display: none;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 0;
  margin: 1rem 5rem;
  min-height: max-content;
  max-width: 75%;
  width: 100%;
}

.portfolio__item-text {
  min-height: 209px;
}

.portfolio__item-paragraph {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}
.portfolio__item-link {
  color: var.$main-color;
}

.portfolio__item-button {
  width: 13rem;
  height: 2.5rem;
  padding-top: 0.8rem;
  background-color: var.$main-color;
  color: white;
  border-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover,
  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1700px) and (min-width: 1500px) {
  .main__info-title {
    font-size: 36px;
    line-height: 48px;
  }

  .main__info-text {
    font-size: 18px;
    line-height: 24px;
  }
  .aboutme__title,
  .education__title,
  .portfolio__title {
    padding-top: 5rem;
    font-size: 36px;
    line-height: 48px;
  }
  .education__list-title,
  .portfolio__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .portfolio__item-text {
    min-height: 150px;
  }
}
@media screen and (max-width: 1499px) and (min-width: 1100px) {
  .container {
    padding: 3rem 8rem;
  }
  .aboutme__container,
  .education__container {
    padding: 0 8rem;
  }
  .portfolio__container {
    padding: 0 4rem;
  }
  .main__wrapper {
    gap: 6rem;
  }

  .main__info-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .main__info-text {
    font-size: 16px;
    line-height: 22px;
  }
  .aboutme__title,
  .education__title,
  .portfolio__title {
    padding-top: 3rem;
    font-size: 32px;
    line-height: 40px;
  }
  .education__list-title,
  .portfolio__item-title {
    font-size: 17px;
    line-height: 22px;
  }

  .aboutme__list-item,
  .aboutme__paragraph-item,
  .portfolio__item-link,
  .education__list-item_year,
  .education__list-item_name {
    font-size: 16px;
    line-height: 22px;
  }
  .portfolio__item {
    padding: 1rem 0;
    margin: 1rem 4rem;
  }

  .portfolio__item-text {
    min-height: 170px;
  }
  .portfolio__item-paragraph {
    font-size: 14px;
    line-height: 22px;
  }
  .portfolio__item-button {
    width: 8rem;
    height: 2.5rem;
    padding-top: 1rem;
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1099px) and (min-width: 651px) {
  .container {
    padding: 1rem 4rem;
  }
  .aboutme__container,
  .education__container {
    padding: 0 4rem;
  }
  .portfolio__container {
    padding: 0 3rem;
  }
  .main__wrapper {
    gap: 3rem;
  }

  .main__info {
    gap: 0.5rem;
    width: 90%;
  }

  .main__info-title {
    font-size: 24px;
    line-height: 30px;
  }

  .main__info-text {
    font-size: 14px;
    line-height: 17px;
  }
  .main__info-button {
    width: 15rem;
    height: 3rem;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
  }

  .aboutme__title,
  .education__title,
  .portfolio__title {
    padding-top: 3rem;
    font-size: 24px;
    line-height: 30px;
  }
  .education__list-title,
  .portfolio__item-title {
    font-size: 14px;
    line-height: 17px;
  }

  .aboutme__list-item,
  .aboutme__paragraph-item,
  .portfolio__item-link,
  .education__list-item_year,
  .education__list-item_name {
    font-size: 14px;
    line-height: 17px;
  }
  .education__wrapper {
    grid-gap: 3rem;
  }

  .portfolio__item {
    margin: 1rem 3rem;
    max-width: 85%;
  }

  .portfolio__item-text {
    min-height: 209px;
  }

  .portfolio__item-paragraph {
    font-size: 14px;
    line-height: 17px;
  }
  .portfolio__item-button {
    width: 7rem;
    height: 1.8rem;
    padding-top: 0.8rem;
    font-size: 12px;
    line-height: 15px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 650px) and (min-width: 200px) {
  .container {
    padding: 1rem 1rem;
  }
  .aboutme__container,
  .education__container {
    padding: 0 1rem;
  }
  .portfolio__container {
    padding: 0 1rem;
  }
  .main__wrapper {
    align-items: center;
    gap: 1rem;
  }

  .main__info-title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }

  .main__info-text {
    font-size: 14px;
    line-height: 18px;
  }

  .main__info-button {
    width: 15rem;
    height: 3rem;
    font-size: 18px;
    line-height: 26px;
    border-radius: 10px;
  }

  .aboutme__title,
  .education__title,
  .portfolio__title {
    padding-top: 3rem;
    font-size: 18px;
    line-height: 26px;
  }

  .education__list-title,
  .portfolio__item-title {
    font-size: 14px;
    line-height: 18px;
  }

  .aboutme__list-item,
  .aboutme__paragraph-item,
  .portfolio__item-link,
  .education__list-item_year,
  .education__list-item_name {
    font-size: 14px;
    line-height: 18px;
  }
  .aboutme__title-line {
    width: 7%;
    border: 1px solid var.$main-color;
  }

  .aboutme__list-item {
    padding-bottom: 0.4rem;
  }
  .education__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .portfolio__wrapper {
    display: none;
  }
  .portfolio__wrapper-mobile {
    display: flex;
  }

  .portfolio__item-text {
    min-height: 150px;
  }
  .portfolio__item {
    padding: 1rem 0 2rem;
    margin: 0 3.5rem 1rem;
  }
  .portfolio__item-paragraph {
    font-size: 14px;
    line-height: 18px;
  }
  .portfolio__item-button {
    display: flex;
    align-self: center;
    align-items: self-start;
    justify-content: center;
    width: 7rem;
    height: 1.8rem;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
  }
}

/////////main-image adaptive/////////
@media screen and (max-width: 1099px) and (min-width: 750px) {
  .main__image-item {
    max-width: 400px;
  }
}
@media screen and (max-width: 749px) and (min-width: 200px) {
  .main__info {
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  .main__image-item {
    display: none;
  }
  .main__image-adaptive {
    display: flex;
  }
  .main__image-item-adaptive {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 22rem;
  }
}
