@use "../../assets/styles/var";

.header__menu {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header__contacts-link {
  text-decoration: none;
}
.header__contacts-icon {
  fill: var.$main-color;
  &:hover {
    fill: #be7175;
  }
}

.header__list {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.header__list-item {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: black;
  font-size: 28px;
  line-height: 33px;
  transition: 0.3s all;
  &:hover,
  &:active {
    color: var.$main-color;
  }
}
